<div class="row">
  <div class="span6 offset3">
   <div id="incomplited_tasks">
	<%= render 'incomplited_tasks'%>
   </div>

   <div id="complited_tasks">
	<%= render 'complited_tasks'%>
   </div>

<br/>

<%= link_to 'New Task', new_task_path, class: "btn btn-success", id:"new_task" %>
  </div>
</div>
