@import "bootstrap";
/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin icons {
	float: left;
	display: block;
	width: 24px;
	height: 24px;
	margin-left: 10px; 
}

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #000;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  -webkit-transition: 0.5s ease-out 0.5s;
     //-moz-transition: 0.5s ease-out 0.5s;
     -o-transition: 0.5s ease-out 0.5s;
     transition: 0.5s ease-out;
}

#logo:hover {
  color: #04C;
  letter-spacing: 2px;
  text-decoration: none;
   //-moz-transform: rotate(5deg); /* Для Firefox */
    -ms-transform: rotate(5deg); /* Для IE */
    -webkit-transform: rotate(5deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(5deg); /* Для Opera */
    transform: rotate(5deg);
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}
input[type="checkbox"] {
	float: left;
	margin-right: 10px;
}
input {
  height: auto !important;
}

.complited label {
  display: inline-block;
  max-width: 100%;
}
.container #error_explanation {
  color: #f00;
  border: none;
  border-radius: 5px;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
    li {
      list-style: none;
    }
  }
}

.container .field_with_errors {
  @extend .control-group;
  @extend .error;
  		
}

/*Tasks*/
.bs-callout {
    padding: 10px;
    margin: 10px 0px;
    border-width: 1px 1px 1px 5px;
    border-style: solid;
    border-color: #EEE;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-radius: 3px;
}

.bs-callout-info {
    border-left-color: #5BC0DE;
    h2 {
	margin: 5px;	
	text-align: justify;
	color: #333;
    }
}

.edit_link {
	@include icons;
	background: url(image-path('pencil-add-icon.png'));

}

.delete_link {
	@include icons;
	background: url(image-path('Industry-Trash-2-icon.png'));
}

.task_wrap {
	position:relative;
	overflow: hidden;
}

.icons_wrap {
	position: absolute;
	top: 12px;
	left: -100px;
}

.task_title {
	color: #333;
}

.current {
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: right center;
  float: right;
}
.current:hover {
	text-decoration: none;
}

.asc {
  background-image: url(image-path('arrow-blue-up.png'));
}

.desc {
  background-image: url(image-path('arrow-blue-down.png'));
}
